<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899680098228-8q567e9h0auhq37eq6vuimd41p90p4n2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899680098228-8q567e9h0auhq37eq6vuimd41p90p4n2</string>
	<key>API_KEY</key>
	<string>AIzaSyA54cVMBlAe4Z8TMfz1ItZyycQcRrCq5wQ</string>
	<key>GCM_SENDER_ID</key>
	<string>899680098228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sophiazhu.pp.InstagramApp</string>
	<key>PROJECT_ID</key>
	<string>instadog-5da34</string>
	<key>STORAGE_BUCKET</key>
	<string>instadog-5da34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:899680098228:ios:5ba2ce79f109cb371484e1</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_DEACTIVATE</key>
	<false/>
</dict>
</plist>
